
.link-directive {
  margin-left: 2rem;
  display: none;
  gap: 1rem;
  padding: 1rem 0;

  .directive {
    font-size: $font-size-0875;
    color: $darkColorA;
    cursor: pointer;
  }
}

.artworks-category {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
}
.allArtParent {
  transition: color ease-in 500ms;
  scroll-behavior: smooth;
  position: relative;
  @include flex_display($align_content: center, $justify_content: flex-start, $gap: 3%);
  //background-color: white;
  //background-image: url("/static/images/wall.webp");
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
  @media (hover: none) {
    overflow: scroll;
  }

  & img:hover {
    height: 12.5rem;
    cursor: pointer;

  }

  .parent-previous2 {
    left: 0.625rem;
    visibility: hidden;
    @include parent-arrow-state;

    .previous2 {
      @include arrow-state;

      &:hover {
        @include arrow-hover;
      }

    }

  }

  .frame {
    box-shadow: $element-box-shadow;
    border-radius: 3%;
    padding-bottom: 3%;
    border: $border-less-opacity;
    height: 17.5rem;
    width: 18.125rem;
    min-width: 18.125rem;
    margin: 0.5% 0.5% 2rem;
    padding-top: 0.5rem;
    &:hover .cart-add, &:hover .cart-remove {
      display: block;
      bottom: 0;
      width: 45rem;

    }


    .image-wrapper {
      margin: auto;
      overflow: hidden;
      width: 100%;
      @include flex_display($justify_content: center);
      position: relative;
      height: 11.25rem;


      img {
        height: 11.25rem;
        position: absolute;
        width: auto;
        transition: height 300ms linear;
        &:hover {
          height: 12.5rem;
          cursor: pointer;
        }
      }
    }

    .description{
      position: relative;
      width: 90%;
      margin: .5rem auto 0;

      .sub-title {
        @include flex_display($justify_content: space-between);

        .titre {

          @include ellipsisText;
        }

        .parent-heart {
          .heart-circle-liked-heart{
            @include flex_display($flex: none, $justify_content: center);

          }
          .heart-circle-not-liked-heart{
            @include flex_display($flex: none, $justify_content: center);

          }
          .heart-circle-liked-heart, .heart-circle-not-liked-heart {
            @include button-override;
            width: max-content;
            height: max-content;

            text-align: center;
            //border-radius: 50%;

            .liked-art {
              padding: 0.313rem;
              border: $main-color 1px solid;
              border-radius: 50%;

              &:hover {
                background-color: rgba(255, 26, 26, 0.3);
              }
            }

          }
        }

        .description-sub-title {
          max-width: 80%;

          .price-wrapper {
            @include price-wrapper;
          }


          .medium, .size {
            @include ellipsisText;

            color: $main-color;
            font-size: $font-size-0875;

          }

          .describe-artwork {
            display: none;
            position: absolute;
          }
        }

        .touch-mode {
          display: none;
          align-self: flex-end;
          @media (hover: none) {
            visibility: visible;
            display: inline-block;
          }

          .cart-icon {
            display: none;
            align-self: flex-end;
          }
        }
      }

      .sold-item {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        color: white;
        justify-content: center;
        align-items: center;
        transition: bottom 600ms linear;
        padding: .4rem;
        display: none;
        background-color: #d2c7c7;
      }


      .cart-add, .cart-remove {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        color: white;
        transition: bottom 600ms linear;
        padding: 3%;
        display: none;
        border: none;
        visibility: hidden;
        border-radius: 0.313rem;
        background-color: blue;

      }


      .cart-remove {
        background-color: $main-color;
      }
    }

  }


  .parent-next2 {
    right: 1rem;
    margin-right: 0.625rem;
    @include parent-arrow-state;

    .next2 {
      @include arrow-state;

      &:hover {
        @include arrow-hover;

      }
    }
  }

}
.artworks-grandparent {
  @include flex_display($flex_direction: column, $align_items: stretch);
  border-top: $border-less-opacity;
  box-shadow: $element-box-shadow;
  position: relative;
  width: 100%;
  margin: 5% auto 0 auto;
  background-color: white;





  .see-more {
    @include flex_display($flex_direction: column, $align_content: center, $justify_content: center, $gap: 1%);
    transition: color ease-in 500ms;

    h1 {
      color: rgba(112, 128, 144, 0.31);

      &:hover {
        @include common_element_hover;
      }

    }


    .see-in-details-wrapper {
      width: 100%;
      @include flex_display($justify_content: center);

      hr {
        display: inline-block;
        width: 40%;
      }

      .see-in-details {
        margin: 0 2%;
        display: inline-block;
        width: max-content;
        white-space: nowrap;
        padding: 2%;

        &:hover {

          #down-id, #down-id1, #down-id2 {
            display: block;
          }
        }

      }
    }

  }
}

.frame:hover .cart-add, .frame:hover .cart-remove {
  display: block;
  bottom: 0;

}