//Mixing block
@mixin ellipsisText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative
}
@mixin parent-arrow-state {
  width: max-content;
  position: sticky;
  margin: auto;
  z-index: 1;

}
@mixin flex_display($flex: flex, $justify_content:space-around,$align_items:center,$flex_wrap: nowrap,  $gap:0, $align_content:stretch,$flex_direction:row ) {
  display: $flex;
  justify-content: $justify_content;
  align-items: $align_items;
  align-content: $align_content;
  flex-direction: $flex_direction;
  gap: $gap;
  flex-wrap: $flex_wrap;

}
@mixin maskBackground {
  position: fixed;
  width: 100vw;
  display: none;
  z-index: 29;
  top: 0;
  left: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.86);

}
@mixin display_item_total {
  padding: 1.7rem 0;
  display: flex;
  //background-color: yellow;
  justify-content: space-around;
}
@mixin price-wrapper {
  @include flex_display($align_items: center,$justify_content: flex-start, $gap: 3px);
}
@mixin arrow-hover {
  cursor: pointer;
  background-color: white;
  color: $main-color;
  box-shadow: $element-box-shadow;
}
@mixin arrow-state {
  border: $border-less-opacity;
  transition: -ms-scroll-snap-points-x 1s;

  font-size: 3rem;
  color: white;
  transition: color ease-in 500ms;
  padding: 1% 2%;
  background-color: $main-color;
}
@mixin common_element_hover {
  color: $main-color;
  cursor: pointer;
  box-shadow: $element-box-shadow;
}
@mixin parent-detail-common {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 2%;
}
@mixin button-override($background_color: transparent) {
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: $background_color;
}
@mixin circular_design_motto {
  @include flex_display();
  padding: 5% 0;
  margin: auto;
  background-color: black;
}
@mixin offer_cart_common {
  text-align: center;
  width: 100%;
  border: $main-color 1px solid;
  padding: 1rem;
  cursor: pointer;

}
@mixin  add-button-common{
  height: 2rem;
  padding:  1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height .2s ease-in;
cursor: pointer;
  border: $border-less-opacity;
  &:hover{

    height:  2.5rem;
  }
}
%arrowNav{
  left: 0.625rem;
  visibility: hidden;
  @include parent-arrow-state;

  .previous2 {
    @include arrow-state;

    &:hover {
      @include arrow-hover;
    }

  }
}
@mixin arrowNavigation($visibility, $arrow  ) {

    left: 0.625rem;
    visibility: $visibility;
    @include parent-arrow-state;

    .#{$arrow}{
      @include arrow-state;

      &:hover {
        @include arrow-hover;
      }


  }


}
@mixin contact-form-design($position){
  .message-contact {
    background-color: #aabff3;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    padding: 1%;
    gap: 10px;
    box-shadow: $element-box-shadow;
    border: $border-less-opacity;
    position: $position;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 5;
    height: 90vh;
    transition: visibility ease-in 1s;

    #message-cancel-button {
      justify-self: flex-end;
      align-self: flex-end;
      color: red;
      cursor: pointer;
    }

    form {

      width: 100%;

      .first-last-parent {
        display: flex;
        justify-content: space-between;
        gap: 2%;

        label {
          width: 100%;

          .required {
            color: red;
          }

          #firstname-contact, #lastname-contact {
            width: 100%;

          }

          #message-textarea {
            width: 100%;
            height: 20vh;
            padding: 0.6rem;
          }

          .contact-input {
            width: 100%;
            padding: 0.6rem;
          }
        }

        .submit-message-parent {
          margin: auto;
          width: 50%;

          #submit-message {
            padding: 0.5rem;
            margin: auto;
            width: 100%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {


    .message-contact {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      padding: 0 10%;
    }

    .quick-message-parent {
      position: static;
      width: 90%;
      top: 0;
      right: 0;
      margin: 10% auto;
    }
  }
}