.mask-background {
  @include maskBackground;

  * {
    line-height: 2.5; /* Example line height */
  }

  .offer-wrap {
    align-self: center;
    width: 60%;
    height: max-content;

    .cancel {
      z-index: 1;
      background-color: white;
      width: 100%;
      height: 10%;
      left: 0.625rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 0;
      border-bottom: $main-color 1px solid;

      #cancel-button {
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }


    .offer-make {
      overflow-y: auto;
      position: relative;
      padding: 2%;
      background-color: white;

      .painting-offer {
        border-color: blue;
        width: 50%;
        display: flex;
        align-items: start;

        justify-content: center;
        height: 100%;
        position: sticky;
        top: 0;

        ul {
          width: 100%;

          img {
            width: 100%;
            display: block;
          }

          .offer-price, .offer-titre {
            font-weight: bold;
          }

          .offer-medium, .offer-size {
            font-weight: lighter;
            font-style: italic;
          }
        }
      }

      .offer-info {
        row-gap: 0.625rem;
        top: 0;
        width: 40%;
        display: flex;
        position: absolute;
        right: 0;
        flex-direction: column;
        margin-right: 2%;
        padding: 2% 0;

        input {
          padding: 3%;
        }

        .heading-offer {
          text-align: center;
        }

        .label-offer {
          justify-self: center;

          .calcul-offer {
            border: $main-color 1px solid;
            width: 80%;
            padding: 0 2%;
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: center;

            #offer, #offer:focus {
              border: none;
              outline: none;
              width: 60%;
            }

            //.offer-percentage {
            //  padding: 2%;
            //  border-radius: 50%;
            //  font-size: 0.7rem;
            //  justify-self: center;
            //}
          }
        }

        #phone-number, #message-input {
          width: 100%;
        }

        .phone-textarea, .message-textarea {
          display: none;
        }

        #message-input {
          padding: 2%;
        }
      }

    }
  }


}


#offer-submit {
  padding: 4%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//@media only screen and (max-width: 1500px) {
//  .mask-background {
//    .offer-wrap {
//      width: 80%;
//    }
//  }
//}
@media only screen and (max-width: 1000px) {
  .mask-background {
    .offer-wrap {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .mask-background {
    .offer-wrap {
      width: 100%;
     // height: 100vh;
    }
  }
}