/* layout/_footer.scss */
.footer {
  border-top: $border-less-opacity;
  padding: 2rem 1rem;
  background: $color-bg-muted;
  color: $color-text;

  .cols {
    @include flex-display(space-between, flex-start, 2rem, wrap);
  }
  a { color: $color-primary; }
}
