/* layout/_header.scss */
.header {
  @include flex-display(space-between, center, 1rem);
  position: sticky; top: 0; z-index: $z-header;
  padding: .75rem 1rem;
  background: #fff;
  border-bottom: $border-less-opacity;

  .brand {
    font-weight: 800;
    font-size: $fs-125;
    color: $color-primary;
  }
  nav ul {
    @include flex-display(center, center, 1rem);
    list-style: none; margin: 0; padding: 0;
    a { color: $color-text; }
    a.active, a:hover { color: $color-primary; }
  }
}
