services:
  jeanyvesart-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: jeanyvesart-app:latest
    container_name: jeanyvesart-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      # Port Spring Boot will listen on inside container
      MY_CLIENT_PORT: 3001

      # Stripe
      STRIPE_PUBLIC_KEY: ${STRIPE_PUBLIC_KEY}
      STRIPE_WEBHOOK_KEY: ${STRIPE_WEBHOOK_KEY}

      # Google OAuth
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}

      # Facebook OAuth
      FACEBOOK_CLIENT_ID: ${FACEBOOK_CLIENT_ID}
      FACEBOOK_CLIENT_SECRET: ${FACEBOOK_CLIENT_SECRET}

      # URLs
      CLIENT_BASE_URL: ${CLIENT_BASE_URL}
      SERVER_BASE_URL: ${SERVER_BASE_URL}
    networks:
      - public
    # Optional: for debugging directly
    # ports:
    #   - "8081:8081"

networks:
  public:
    external: true   # same shared network you created with `docker network create web`
