$main-color: rgb(199, 206, 213); //rgba(0, 0, 0, 0.78);
$secondary: $main-color;

// Configuration

@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/bootstrap-utilities";


@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/spinners";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/forms";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/dropdown";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/buttons";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/spinners";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/navbar";

@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/nav";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/offcanvas";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/images";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/close";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/accordion";
@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/card";

@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/modal";

@import "/Users/admin/IdeaProjects/jeanyveshectorversoriginal - Copy/node_modules/bootstrap/scss/transitions";








$font-size-0375: 0.375rem;
$font-size-0625: 0.625rem;
$font-size-0875: 0.875rem;
$mask-background: rgba(0, 0, 0, 0.81);

$font-size-1: 1rem;
$font-size-1-375: 1.375rem;
$font-size-1-75: 1.75rem;

$font-size-2-5: 2.5rem;
$font-size-3-5: 3.5rem;
$font-size-4-5: 4.5rem;
$darkColorA: #100F10;

$darkColorB: #1B1B1B;

$darkColorC: #3f1313;



$darkBackgroundColorA:#100F10;

$darkBackgroundColorB:#1B1B1B;

$darkBackgroundColorC: #242424;
$insetShadow: inset 0px 0px 10px rgba(0,0,0,0.1);

$border-less-opacity: 1px rgba(112, 128, 144, 0.10) solid;

$border-color-less-opacity: rgba(112, 128, 144, 0.10);
$element-box-shadow: 1px 1px 100px 1px var(--border-color-less-opacity);
$slategrey_blue: #5664ab;
$radius-m: 1rem;