/* pages/_artwork_link_display.scss */
.artwork-details-info-popup {
  @include flex-display(space-around, center);
  position: sticky; top: 0; bottom: 0;
  .slideshow {
    background-color: rgba(119, 136, 153, .09);
    position: sticky; top: 1rem; bottom: 1rem;
    width: 60%;
  }
}
