<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Cart | Jean Yves</title>-->
<!--</head>-->
<!--<body>-->
<!--<main th:fragment="popup_artwork" class="artwork-details-info-popup">-->
<!--    <button  id="slideshow-cancel-button">&#x2715;</button>-->

<!--    <article class="slideshow">-->
<!--        <button id="previous" class="fa-solid fa-chevron-left"></button>-->
<!--        <div class="parent-artwork-img">-->
<!--            <div class="popup-image-wrapper">-->
<!--                <img class="artwork-image image-link" src="" alt="artworks">-->

<!--                <div class="popup-like">-->
<!--                    <div class="popup-liked-heart heart-circle-liked-heart">-->
<!--                        <i class="liked-art fa-solid fa-heart"></i></div>-->
<!--                    <div class="popup-not-liked-heart heart-circle-not-liked-heart">-->
<!--                        <i class="liked-art fa-regular fa-heart"></i></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button id="next" class="fa-solid fa-chevron-right"></button>-->
<!--    </article>-->
<!--    <div class="artwork-purchase-info" id="x">-->
<!--        <p class="artwork-description popup-artwork-description">description-->
<!--        </p>-->
<!--        <p class="popup-image-id" style="display:none;"></p>-->

<!--        <div class="description-and-cart">-->
<!--            <ul class="parent-popup-price-info">-->
<!--                <li class="common-sibling display-common">Title</li>-->
<!--                <li class="common-sibling display-common">Medium</li>-->
<!--                <li class="common-sibling display-common">Size</li>-->
<!--                <div class="price-wrapper r common-sibling"><small style="color: white" class="currency">$US</small><li class="display-common">Price</li></div>-->

<!--            </ul>-->
<!--&lt;!&ndash;            <div class="parent-popup-cart-purchase">&ndash;&gt;-->
<!--&lt;!&ndash;                <h1 class="unavailable-link-background-color popup-purchase">Purchase now</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="parent-popup-cart">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="popup-cart popup-cart-add-action">Add to Cart</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="popup-cart popup-cart-remove-action">Remove from Cart</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="popup-sold-item">Sold</h1>&ndash;&gt;-->

<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->