<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOT FOUND</title>
      <link rel="stylesheet" href="/stylesheet/scss/styles.css" type="text/css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<header class="not-found">
    <a href="/"><h1>Jean Yves Hector</h1></a>
</header>
<article class="sorry-message">
    <h4>Oh! Hmm</h4>
    <p>Sorry, the page you were looking for was not found.</p>
    <div>Go back to <a href="/">jeanyveshector.com</a></div>
</article>
</body>
</html>