<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/scss/stylesheet/style2.css" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | Jean Yves</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js_file/footer.js" type="module" defer></script>
    <script src="/js_file/add_to_cart_list.js" type="module" defer></script>
    <script src="/js_file/loader.js" type="module" defer></script>
</head>
<body class="cart-list-envelope">
<!-- Global page loader (visible on page start) -->
<div th:replace="~{dryTemplate.html :: spinner(message='One second...', dynamicClass='loader')}"></div>

<script th:inline="javascript">
    const stripePublicKey =/*[[${stripePublicKey}]]*/ null;
</script>

<header th:replace="~{header.html :: header-component}"></header>

<div class="social-media-link-cover">
    <section th:insert="~{socialmediaicon.html :: social-media-share}"></section>
</div>

<input class="csrf-token" type="hidden" th:value="${token}"/>

<!-- Checkout-only loader (hidden until checkout begins) -->
<div th:replace="~{dryTemplate.html :: spinner(message='Getting ready for checkout...', dynamicClass='loading loading-checkout')}"></div>

<article class="main-parent">
    <section class="parent-cart-list">
        <div style="display: none;" class="cart-list">
            <section th:replace="~{dryTemplate.html :: quantity-list}"></section>
            <input type="hidden" class="cart-image-id">
            <input class="uniqueness" type="hidden">
            <section th:replace="~{dryTemplate.html :: inventory-data}"></section>

            <img src="" alt="artwork.jpg"/>
            <div class="parent-details-cart-list">
                <div class="cart-details">
                    <ul id="a">
                        <li style="word-break:break-all;" class="common-sibling cart-common-op share-title">Title</li>
                        <li class="common-sibling cart-common-op common-color">Medium</li>
                    </ul>
                    <ul id="b">
                        <li class="common-sibling cart-common-op common-color">Size</li>
                        <div class="common-sibling price-wrapper">
                            <span class="cart-currency">$US </span>
                            <span class="item-price cart-common-op">Price</span>
                            <span class="cart-currency">, Qty </span>
                            <span class="quantity-cart cart-common-op2">Price</span>
                        </div>
                    </ul>
                </div>
                <section class="remove-and-share">
                    <button class="remove-cart-item">Remove</button>
                    <button class="unavailable-link">Save for later</button>
                    <button class="share-to-media">Share</button>
                </section>
            </div>
        </div>

        <div class="display-cart-total-items">
            <h4 class="title-heading">Shopping Cart(<span class="title-heading cart-total-items">0</span>)</h4>
            <p class="clear-cart">Clear Cart</p>
        </div>

        <div class="empty-cart-alert">
            <h1>Your cart is currently empty</h1>
            <p>To find a piece you love continue browsing <a style="color:rebeccapurple;" href="/artworks">here</a></p>
        </div>
    </section>

    <form id="proceed-checkout-form" class="price-calculation cart-component">
        <div class="card-logo"><img class="logo3" src="/images/jeanyves_logo.png" alt="Jean Yves Logo"/></div>
        <ul class="checkout-out-info">
            <li><span>Total</span><span class="cart-total-items"></span></li>
            <li style="padding-top: 2%; border-top: 1px slategray solid">
                <span>Subtotal</span><span class="item-total">$78990</span>
            </li>
        </ul>
        <div>
            <div class="safety-info">
                <h4>Satisfaction Guaranteed</h4>
                <p>If you are not pleased with your purchase, you may return it within 15 days</p>
            </div>
            <div class="safety-info">
                <h4>Safe And Secure</h4>
                <p>Every payment and transaction is encrypted and securely processed by Stripe. View Stripe's
                    <a style="text-decoration: underline; text-underline: #2121ff" href="https://stripe.com/legal/end-users" target="_blank">terms and privacy policies</a>.
                    Tax will be calculated at checkout
                </p>
            </div>
            <p class="free-shipping">Free Shipping for US Addresses</p>
            <button type="submit" class="checkout">Continue to Secure Checkout<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </form>
</article>

<div th:if="${favoriteProducts!=null}"
     th:insert="~{artworks/artworkTemplate.html :: artworksMainTemplate(category='Items You Like')}"
     th:with="object=${favoriteProducts}"></div>

<footer-component></footer-component>
</body>
</html>
