<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body> <div class="mask-background purchase-success-cover">
    <div class="purchase-error">
        <div class="purchase-error">
            <h1><i style="font-size:4rem; color: red" class="fas fa-exclamation-triangle"></i></h1>
            <h3>Sorry an internal error occurs.</h3>
            <p style="color: red;" class="error-details"></p>
            <p>If the error persist Please <a href="/contact" class="contact-me1"
                                                 style="background-color: #aabff3; padding:2px;  cursor:pointer;">contact me</a>
            </p>

            <a href="/cart"><h1>Retry</h1></a>
        </div>
    </div>
</div>

</body>
</html>