<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"><head>-->
<!--    <meta name="description" content="Shop our collection of unique and affordable art pieces at our online art store. Discover original paintings, prints, and sculptures from emerging and established artists. Free shipping.">-->
<!--    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Exhibitions | Jean Yves</title>-->


<!--    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
<!--    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">-->
<!--    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->
<!--    <link rel="manifest" href="/site.webmanifest">-->

<!--&lt;!&ndash;    <link rel="icon" th:href=&ndash;&gt;-->
<!--&lt;!&ndash;            "@{/images/jeanicon.svg}"&ndash;&gt;-->
<!--&lt;!&ndash;          type="image/x-icon">&ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{style.css}" type="text/css">-->
<!--    <script th:src="@{js_file/header.js}" type="module" defer></script>-->
<!--    <script th:src="@{js_file/footer.js}" type="module" defer></script>-->
<!--</head>-->
<!--<body>-->

<!--<header-component></header-component>-->

<!--&lt;!&ndash;/*@thymesVar id="name2" type="com.art.jeanyvesart.controller.ArtworkController"*/&ndash;&gt;-->
<!--<h1 th:text="${name2}">hhhhhh</h1>-->
<!--<h1>hhdgdgdyeyeye</h1>-->
<!--<footer-component></footer-component>-->
<!--</body>-->
<!--</html>-->

<html>
<head>
    <title>Your Website Title</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="https://jeanyveshector.com/artworks/000002" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Enlightenment" />
    <meta property="og:description"   content="This painting depics a youg woman" />
    <meta property="og:image"         content="https://jeanyveshector.com/images/paintings/enlightenment/enlightenment0.webp" />
</head>
<body>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your share button code -->
<!--<div class="fb-share-button"-->
<!--     data-href="https://jeanyveshector.com/artworks/000002"-->
<!--     data-layout="button_count">-->
<!--</div>-->

<!--<div id="fb-root"></div>-->
<!--<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0&appId=234016784775804&autoLogAppEvents=1" nonce="u9PwTIOO"></script>-->
<!--<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>-->
<!--<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Department of the Interior (@Interior) <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->



<div class="ssf-h-icons"><div class="ssf-channel-h">
    <a class="ssf-channel a-color-base" href="mailto:?subject=Check%20this%20out%20on%20Amazon&amp;body=Christmas%20Gifts%20for%20Mom%2C%20Women%2C%20Wife%20-%20Mom%20Christmas%20Gifts%20-%20Gifts%20for%20Mom%20from%20Daughter%2C%20Son%2C%20Kids%20-%20Mom%20Gifts%20-%20Birthday%20Gifts%20for%20Mom%2C%20Mother%20-%20Mom%20Birthday%20Gifts%20-%20Mother%20Daughter%20Gift%2014%20Oz%20Mug https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BGLS7SK1%3Fpsc%3D1%26ref_%3Dcm_sw_r_em_ud_ct_XKWKD627W3NNWS2W6K8N" title="Share via e-mail" data-key="email">
        <span class="a-spinner a-spinner-medium a-align-center aok-hidden"></span>
        <i role="img" aria-label="Email" style="background-image: url(https://m.media-amazon.com/images/G/01/share-icons/email-circular.svg)"></i>
    </a>
    <span>Email</span>
</div><div class="ssf-channel-h">
    <a class="ssf-channel a-color-base" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BGLS7SK1%3Fpsc%3D1%26ref_%3Dcm_sw_r_pi_ud_ct_XKWKD627W3NNWS2W6K8N&amp;description=Christmas%20Gifts%20for%20Mom%2C%20Women%2C%20Wife%20-%20Mom%20Christmas%20Gifts%20-%20Gifts%20for%20Mom%20from%20Daughter%2C%20Son%2C%20Kids%20-%20Mom%20Gifts%20-%20Birthday%20Gifts%20for%20Mom%2C%20Mother%20-%20Mom%20Birthday%20Gifts%20-%20Mother%20Daughter%20Gift%2014%20Oz%20Mug&amp;media=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F81rqnDeDIPL.jpg&amp;method=button" title="Pin it on Pinterest" data-key="pi">
        <span class="a-spinner a-spinner-medium a-align-center aok-hidden"></span>
        <i role="img" aria-label="Pinterest" style="background-image: url(https://m.media-amazon.com/images/G/01/share-icons/pinterest-circular.svg&quot;); display: inline-block;"></i>
    </a>
    <span>Pinterest</span>
</div><div class="fa-brands fa-facebook">
    <a class="ssf-channel a-color-base" href="https://www.facebook.com/dialog/share?_encoding=UTF8&amp;app_id=465632727431967&amp;display=popup&amp;href=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BGLS7SK1%3Fpsc%3D1%26ref_%3Dcm_sw_r_fa_ud_ct_XKWKD627W3NNWS2W6K8N&amp;redirect_uri=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0BGLS7SK1%3Fpsc%3D1%26ref_%3Dcm_sw_s_fa_ud_ct_XKWKD627W3NNWS2W6K8N&amp;hashtag=%23Amazon" title="Share on Facebook" data-key="fb">
        <span class="a-spinner a-spinner-medium a-align-center aok-hidden"></span>
        <i role="img" aria-label="Facebook" style="background-image: url(https://m.media-amazon.com/images/G/01/share-icons/facebook-circular.svg)"></i>
    </a>
    <span>Facebook</span>
</div><div class="fa-brands fa-twitter">
    <a class="ssf-channel a-color-base" href="https://twitter.com/intent/tweet?text=r" data-key="tw">
        <span class="a-spinner a-spinner-medium a-align-center aok-hidden"></span>
        <i role="img" aria-label="Twitter" style="background-image: url(https://m.media-amazon.com/images/G/01/share-icons/twitter-circular.svg&quot;); display: inline-block;"></i>
    </a>
    <span>Twitter</span>
</div></div>


</body>
</html>