<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta property="og:description" content="Jean Yves is an artist from Haiti who has a deep love for nature, plants, and animals, and he is particularly drawn to the color green.">
    <meta name="Author" content="Jean Yves Hector">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Jean Yves Artworks">

    <meta property="og:image:alt" content="My artworks">
    <meta property="og:image:type" content="image/webp">

    <meta property="og:image" content="https://jeanyveshector.com/images/paintings/enlightenment/enlightenment1.webp">
    <meta property="og:url" content="https://jeanyveshector.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Jean Yves Hector">

    <title>Home | Jean Yves</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js_file/footer.js" type="module" defer></script>

    <script src="/js_file/loader.js" type="module" defer></script>
    <link rel="stylesheet" href="/scss/stylesheet/style2.css" type="text/css">


</head>
<body>
<div th:replace="~{dryTemplate.html :: spinner}"></div>

<article  th:replace="~{header.html :: header-component}" ></article>
<p class="w3-animate-fading quotes hirst-quote">"Buy art, build a museum, put your name on it, let people in for free.
    That's as close as you can get to immortality."
    <i>Damien Hirst</i></p>
<p class="w3-animate-fading quotes marcia-quote">"Every passion borders on the chaotic, but the collector's passion borders on the chaos of memories."

    <i>Walter Benjamin</i></p>
<p class="w3-animate-fading quotes reynold-quote">"The more the art dominated my life and my house, the more the house
    became a home."
    <i>Burt Reynold</i></p>
<section id="demo" class="caro/usel sli/de circular-design-model-parent" data-bs-ride="car/ousel">
    <h1 class="welcome-message">JEAN YVES</h1>

    <article class="my-carousel-inner">
        <div class="circular-design-model">
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Original Artwork</h2>
                    <p>Recent original artwork</p>
                    <p>made with oil, amd acrylic</p>
                </div>
                <img th:src="@{images/paintings/enlightenment/enlightenment0.webp}" alt="enlightment"/>
            </div>
            <div class="circular-img-wrapper b">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>

                    <h2>Print Artwork</h2>
                    <p>If you can't afford an original piece</p>
                    <p>No worry, high quality </p>
                    <p>print are available</p>
                </div>
                <img th:src="@{images/paintings/enlightenment/enlightenment1.webp}" alt="title"/>

            </div>
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Drawing</h2>
                    <p>Acquire a beautifull drawing</P>
                    <p>made with pencil</p>
                    <p>graphite or charcoal</p></div>
                <img th:src="@{images/paintings/enlightenment/enlightenment4.webp}" alt="title"/>
            </div>
        </div>
        <div class="circular-design-model">
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Original Artwork</h2>
                    <p>Recent original artwork</p>
                    <p>made with oil, amd acrylic</p>
                </div>
                <img th:src="@{images/paintings/healing_plants/healing0.webp}" alt="healing"/>
            </div>
            <div class="circular-img-wrapper b">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>

                    <h2>Print Artwork</h2>
                    <p>If you can't afford an original piece</p>
                    <p>No worry, high quality </p>
                    <p>print are available</p>
                </div>
                <img th:src="@{images/paintings/healing_plants/healing1.webp}" alt="title"/>

            </div>
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Drawing</h2>
                    <p>Acquire a beautifull drawing</P>
                    <p>made with pencil</p>
                    <p>graphite or charcoal</p></div>
                <img th:src="@{images/paintings/healing_plants/healing2.webp}" alt="title"/>
            </div>
        </div>

        <div class="circular-design-model">
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Original Artwork</h2>
                    <p>Recent original artwork</p>
                    <p>made with oil, amd acrylic</p>
                </div>
                <img th:src="@{images/paintings/healing_plants/healing3.webp}" alt="title"/>
            </div>
            <div class="circular-img-wrapper b">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>

                    <h2>Print Artwork</h2>
                    <p>If you can't afford an original piece</p>
                    <p>No worry, high quality </p>
                    <p>print are available</p>
                </div>
                <img th:src="@{images/paintings/healing_plants/healing4.webp}" alt="title"/>

            </div>
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Drawing</h2>
                    <p>Acquire a beautifull drawing</P>
                    <p>made with pencil</p>
                    <p>graphite or charcoal</p></div>
                <img th:src="@{images/paintings/healing_plants/healing5.webp}" alt="title"/>
            </div>
        </div>
        <div class="motto" style="visibility: hidden">
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Original Artwork</h2>
                    <p>Recent original artwork</p>
                    <p>made with oil, amd acrylic</p>
                </div>
                <img th:src="@{images/paintings/healing_plants/healing7.webp}" alt="title"/>
            </div>
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>

                    <h2>Print Artwork</h2>
                    <p>If you can't afford an original piece</p>
                    <p>No worry, high quality </p>
                    <p>print are available</p>
                </div>
                <img th:src="@{images/paintings/healing_plants/healing7.webp}" alt="title"/>

            </div>
            <div class="circular-img-wrapper">
                <div class="circular-img-info-wrapper">
                    <div class="circular-img-cover"></div>
                    <h2>Drawing</h2>
                    <p>Acquire a beautifull drawing</P>
                    <p>made with pencil</p>
                    <p>graphite or charcoal</p></div>
                <img th:src="@{images/paintings/enlightenment/enlightenment3.webp}" alt="title"/>
            </div>
        </div>
        <div class="tracer">
            <div class="locater"></div>
            <div class="locater"></div>
            <div class="locater"></div>
        </div>
    </article>
</section>
<section class="more-design">
    <a href="/artworks/paintings" class="grid-image-items-parent"><div class="grid-image-items"><img class="img-thumbnail" th:src="@{images/paintings/enlightenment/enlightenment0.webp}" alt="title"/>
</div><h4>Painting</h4></a>
    <a  class="grid-image-items-parent"><div class="grid-image-items"><img th:src="@{images/paintings/healing_plants/healing1.webp}" alt="title"/>
    </div><h4>Drawing</h4><div class="unavailable-cover"></div></a>
    <a href="/artworks/clothes" class="grid-image-items-parent"><div class="grid-image-items"><img th:src="@{images/clothes/jacket/jacket4.webp}" alt="title"/>
    </div><h4>Clothes</h4></a>
    <a href="/artworks/print" class="grid-image-items-parent"><div class="grid-image-items"><img th:src="@{images/prints/green_energy/green_energy4.webp}" alt="title"/>
    </div><h4>Print</h4></a>
    <a class="grid-image-items-parent"><div class="grid-image-items"><img th:src="@{images/story.png}" alt="title"/>
    </div><h4>My Story</h4> <div class="unavailable-cover"></div></a>
    <a class="grid-image-items-parent"><div class="grid-image-items"><img th:src="@{images/paintings/renaissance/renaissance4.webp}" alt="title"/>
    </div><h4>Live</h4><div class="unavailable-cover"></div></a>
</section>


<footer-component></footer-component>
</body>
<script type="module">
    import {getCookie} from "/js_file/anonymous_user_cookie.js";

    let myIndex = 0;
    carousel();

    function carousel() {
        let i;
        let x = document.querySelectorAll(".quotes");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }

    let myIndex2 = 0;
    carousel2();

    function carousel2() {
        let x = document.querySelectorAll(".circular-design-model");
        let y = document.querySelectorAll(".tracer div");

        for (let i = 0; i < x.length; i++) {
            x[i].style.zIndex = "1";
            x[i].style.position = "absolute";
            x[i].classList.remove("circular-design-model-slide");

            y[i].style.backgroundColor = "black";

        }

        myIndex2++;
        if (myIndex2 > x.length) {
            myIndex2 = 1
        }
        const l = myIndex2 - 1;
        x[l].style.zIndex = "3";
        y[l].style.backgroundColor = "white";
        x[l].classList.add("circular-design-model-slide");
        setTimeout(carousel2, 6000);
    }

    // const userId ="user12345";
    // if(localStorage.getItem(userId)===null) {
    //     const sessionId = Math.random().toString(36).substring(2);
    //     localStorage.setItem(userId, sessionId);
    // }
</script>
</html>