<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy | Jean Yves Hector</title>
    <link rel="stylesheet" href="/scss/stylesheet/style2.css" type="text/css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<article class="terms-and-service">
    <h1>Privacy Policy</h1>
    <p>Thank you for using our app! This Privacy
        Policy describes how we collect, use, store,
        and share information when you use our app.
        By using our app, you agree to the collection
        and use of information in accordance with this policy.
    </p>
    <h4>Information We Collect</h4>

    <ul>When you use our app, we may collect the following information:

        <li><span>Email Address:</span> We collect your email address
            to uniquely identify you and facilitate the login
            process.
        </li>
        <li><span>Name:</span>We may collect your name to personalize your experience within the app.
        </li>
        <li><span>Profile Information:</span>We may access profile photo associated with your Google account
            to enhance your user experience.
        </li>
    </ul>

    <h4>How We Use Your Information</h4>

    <ul>
        <li><span>Login Process:</span>Your email address and profile information are used to facilitate the login
            process
            and provide access to our app.
        </li>
        <li><span>Personalization:</span>We may use your name and profile information to personalize your experience
            within
            the app.
        </li>
    </ul>
    <h4>Transparency and Consent</h4>
    <p>
        We are committed to honesty and transparency
        regarding the purpose for which we request Access to
        user data. If there are any updates or changes
        to the types of data being requested or how
        they will be utilized, we will promptly update
        our Privacy Policy and seek explicit consent from
        users before accessing any additional data.
    </p>
    <h4> Data Confidentiality</h4>

    <p> We take the confidentiality
        of authorized client credentials
        seriously and ensure that they are
        kept confidential at all times. Your data is
        securely stored and only accessible
        to authorized personnel.</p>

    <h4>Privacy Policy Accessibility</h4>
    <p>Our Privacy Policy is hosted on our verified website
        domain and is easily accessible to users. You can find
        our Privacy Policy linked on the home page of our app
        and on the OAuth consent screen on the
        api provider Console.</p>
    <h4>Changes to This Privacy Policy</h4>
    <p>We reserve the right to update or
        change our Privacy Policy at any time.
        Any changes to the Privacy Policy will
        be effective immediately upon posting
        the updated policy on our website.</p>


       <h4> Minimum Relevant Permissions</h4>
    <p>
        We request only the critical information
        necessary to implement our application's
        features or services. We do not request
        access to information that we do not need,
        ensuring that our permission requests make
        sense to users.
    </p>
       <h4> Secure Operating Environment</h4>

       <p> We take reasonable and
           appropriate steps to protect
           all applications or systems
           that make use of (Google, Facebook, Apple) API
           Services and any data derived
           from it against unauthorized
           or unlawful access, use, destruction,
           loss, alteration, or disclosure.</p>

       <h4>Compliance and Enforcement</h4>

   <p> We adhere to the Provider (Google, FaceBook, Apple) APIs Terms
       of Service and
       User Data Policy. Failure to comply with
       these policies may result in revocation
       or suspension of our access to Provider(Google, FaceBook, Apple)
       API Services and other Provider products
       and services.
    </p>
    <h4>Contact Us</h4>
    <p>If you have any questions or concerns about our
        Privacy Policy, please contact us at
        myart@jeanyveshector.com.

        By using our app, you acknowledge that you
        have read and understood this Privacy Policy.</p>
</article>

</body>
</html>