<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
      <link rel="stylesheet" href="/stylesheet/scss/styles.css" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!--    <link rel="icon" th:href=-->
    <!--            "@{/images/favicon.png}"-->
    <!--          type="image/x-icon">-->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!--    <link rel="stylesheet" href="/scss/style/_style2.css" type="text/css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js_file/footer.js" type="module" defer></script>
    <!--    <script src="/js_file/social_media_share.js" type="module" defer></script>-->

    <script src="/js_file/loader.js" type="module" defer></script>

</head>

<body>
<header  th:replace="~{header.html :: header-component}" ></header>


<article class="reset-password-form">
    <div class="container mt-3 card">
        <h3>Reset your password</h3>


        <form th:object="${customerDto}" th:classappend="${validated}?${validated}: 'noclass'" action="/reset-password" method="post" class="form-to-reset-password">
            <input type="hidden" name="token" th:value="${token}" class="form-control " id="token"

                  required>
            <small style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Field Error</small>
            <small style="color: red" th:text="${error}"></small>

            <div class="form-floating mb-3">
                <input type="password" class="form-control " id="new-password"
                       placeholder="Enter password"
                       name="password" required>

                <label for="new-password" class="form-label">New Password:</label>

                <div class="password-valid valid-feedback">Valid.</div>
                <div class="password-invalid invalid-feedback">Invalid.</div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirm-new-password"
                       placeholder="Enter password"
                       name="confirm_new_password" required>

                <label for="confirm-new-password" class="form-label">Re-enter Password:</label>

                <div class="password-valid valid-feedback">Valid.</div>
                <div class="password-invalid invalid-feedback">Invalid.</div>
            </div>

            <input type="submit" value="Set Password"
                   class="btn reset-btn btn-secondary btn-lg signup-button"/>

        </form>


    </div>
</article>

    <footer-component></footer-component>

</body>

<script type="module">
// <!--   document.querySelector(".form-to-reset-password").onsubmit= (event) => {-->
// // eventconst urlString = window.location.href;
// // const url = new URL(urlString);
// //
// // // Get the query string as a whole
// // const queryString = url.search;
// //
// // // Alternatively, get the parameters as an object
// // const searchParams = new URLSearchParams(url.search);
// // const paramsObject = {};
// // for (const [key, value] of searchParams) {
// //     paramsObject[key] = value;
// // }
// // console.log(queryString); // Output: "?name=John&age=25"
// // console.log(paramsObject); // Output: { name: "John", age: "25" }
//import {getCookie} from "/js_file/anonymous_user_cookie.js";
//console.log(getCookie("token-validation"));
//alert(document.querySelector("#token").value)
//document.querySelector("#token").value=getCookie("token-validation");
</script>
</html>