<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions | Jean Yves</title>
      <link rel="stylesheet" href="/stylesheet/scss/styles.css" type="text/css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<article class="terms-and-service">
    <h4>1. Introduction</h4>
    <p>- Welcome to Jean Yves Art business website. By using our website, you agree to comply with and be bound by the
        following terms and conditions of use, which together with our privacy policy govern our relationship with you
        in relation to this website. If you disagree with any part of these terms and conditions, please do not use our
        website.
    </p>
    <h4> 2. Definitions</h4>
    <p>- In these terms and conditions, "we", "us" and "our" refer to Jean Yves Art. "You" refers to the user or viewer
        of our website.
    </p>
    <h4>3. Use of Our Website</h4>
    <p>- The content of the pages of our website is for your general information and use only. It is subject to change
        without notice.
<!--       <p> <br>- Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,-->
<!--        performance, completeness or suitability of the information and materials found or offered on this website for-->
<!--        any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors-->
<!--        and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.-->
<!--        <br>- Your use of any information or materials on this website is entirely at your own risk, for which we shall not-->
<!--        be liable. It shall be your own responsibility to ensure that any myProducts, services or information available-->
<!--        through this website meet your specific requirements.</p>-->
        <br>- This website contains material which is owned by or licensed to us. This material includes, but is not limited
        to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with
        the copyright notice, which forms part of these terms and conditions.
        <br>- All trademarks reproduced in this website which are not the property of, or licensed to, the operator are
        acknowledged on the website.
        <br>- Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.
    </p>
    <h4>4. Purchases</h4>
    <p> - Our website allows you to purchase art and related myProducts from us.
        <br>- All purchases are subject to availability and confirmation of the myOrder price.
        <br>- Prices for our myProducts are subject to change without notice.
        <br>- We reserve the right to refuse or cancel any myOrder for any reason at any time.
        <br>- We may provide you with access to third-party tools which we neither monitor nor have any control nor input
        over.
        <br>- You agree to provide current, complete and accurate purchase and account information for all purchases made on
        our website.
    </p>
    <h4>5. Payments</h4>
    <p>- We accept payment through various methods including credit cards and PayPal.
        <br>- By providing your payment information, you authorize us to charge the designated payment method for the total
        amount of your purchase (including any applicable taxes and shipping fees).
        <br>- We reserve the right to refuse any myOrder placed through our website.
    </p>
    <h4> 6. Shipping and Returns</h4>
    <p> - We will ship your purchased myProducts to the address provided by you during the ordering process.
        <br>- We are not responsible for any customs and/or import duties that may apply in your country.
        <br>- We have a returns policy in place that you must comply with if you wish to return any myProducts.
        <br>- We want you to be satisfied with your artwork purchase. If you are not completely satisfied, please contact us
        within 15 days of receiving the artwork to initiate a return or exchange. Returned artwork must be in its
        original condition. Refunds will be issued after the returned artwork is received and inspected, minus any
        applicable restocking or shipping fees.
    </p>

    <h4>7. Intellectual Property Rights</h4>
    <p>- Our website and its content are protected by copyright, trademark and other intellectual property rights.
        <br>- You may not reproduce, distribute, modify or use any of the content on our website for any purpose without our
        prior written consent.
    </p>
    <h4>8. Indemnification</h4>
    <p>- You agree to indemnify and hold us harmless from any claim or demand, including reasonable attorneys' fees,
        made by any third party due to or arising out of your breach of these terms and conditions or the documents they
        incorporate by reference, or your violation of any law or the rights of a third party.
    </p>
    <h4>9. Limitation of Liability</h4>
    <p>- We shall not be liable to you or any third party for any indirect, incidental,
    </p>
</article>
</body>
</html>