.artwork-details-info-popup {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  bottom: 0;
  align-items: center;

  .slideshow {
    background-color: rgba(119, 136, 153, 0.09);
    position: sticky;
    position: -webkit-sticky;
    bottom: 1rem;
    top: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    //align-content: center;
    .parent-artwork-img {
      width: fit-content;
      background-color: #eeeeee;
      padding: 0.5rem;
      flex-wrap: nowrap;
      gap: 0.5rem;
      justify-content: center;
      align-items: normal;
      display: flex;

      overflow: hidden;

      .detail-view-parent {
        padding: .5rem;
        gap: 0.5rem;
        height: inherit;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        min-width: 6rem;
        overflow: auto;

        .artwork-in-detail-view {
          width: 5rem;
          overflow: hidden;
          border: 2px $main-color solid;
          min-width: 5rem;
          border-radius: 3px;
          height: 5rem;
          min-height: 5rem;
          background-color: white;

          .artwork-image-details {
            width: 100%;
          }

        }
      }

      .popup-image-wrapper {
        width: auto;

        height: 80vh;
        position: relative;

        .artwork-image {
          height: inherit;
          object-fit: contain;
        }

        .popup-like {
          z-index: 1;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;

          .popup-liked-heart {
            display: none;

            width: max-content;
            height: max-content;

            align-items: center;
            justify-content: center;
            text-align: center;

            .liked-art {
              max-font-size: 1.5rem;

              min-height: 1rem;
              border-radius: 50%;
              padding: 0.438rem;
              color: blue;
              background-color: white;

              border: $main-color 1px solid;


              &:hover {
                background-color: blue;
                color: white;

              }
            }
          }

          .popup-not-liked-heart {
            @extend .popup-liked-heart;
          }

        }

      }


    }
    #previous, #next {
          height: fit-content;

          opacity: 0;
        }
  }

  .artwork-purchase-and-review {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;

    & * {
      line-height: 2rem;
    }

    .artwork-purchase-info {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      gap: 2rem;


      .parent-popup-price-info {
        display: flex;
        flex-direction: column;


        .display-common {
          margin-bottom: 1rem;
        }

        .price-wrapper {
          display: flex;
          gap: 3px;
        }
      }

      .parent-popup-cart-purchase {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .popup-purchase {
          width: 100%;
          @include add-button-common;

          margin-bottom: 1rem;
        }

        .parent-popup-cart {

          display: flex;
          flex-direction: column;


          .popup-cart, .popup-sold-item {
            @include add-button-common;
            display: none;
          }
        }
      }

    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      #accordion {
        .card {

          .card-header {
            a {
              width: 100%;
              height: 100%;

              form {
                button {
                  justify-self: end;
                }
              }
            }
          }

          #collapseTwo {
            .card-body {
              .container {
                .star-review-parent {
                  display: flex;
                  gap: 1px;

                  div {
                    width: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .parent-reviews {
    .reviewer-star-parent {
      padding: 1rem 0;

      .review-box{
      display: flex;
      gap: 1px;

      div {
        width: 1rem;
      }
    }}

  }
}

@media screen and (max-width: 1700px) and (max-height: 940px) {
  .popup-image-wrapper {
    width: 50vw;

    height: auto;
    position: relative;

    .artwork-image {
      height: inherit;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .parent-artwork-img {
    //  width: inherit;
    width: max-content;
    height: auto;
    position: static;
    background-color: lime;

    justify-content: center;
    flex-direction: column-reverse;

    .detail-view-parent {
      flex-direction: row !important;
    }
  }
}

@media only screen and (max-width: 1015px) {
  .artwork-details-info-popup {
    position: static;
    z-index: 6;
    gap: 2rem;
    width: 100vw;
    //height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .slideshow {
      width: 80vw;
      position: static;

      .parent-artwork-img {
        width: inherit;
        //width: max-content;
        //height: auto;
        //position: static;
        //background-color: lime;
        //
        //justify-content: center;
        //flex-direction: column-reverse;
        //
        //.detail-view-parent {
        //  flex-direction: row;
        //}

        .popup-image-wrapper {
          height: auto;
          width: 100%;

          .artwork-image {
            width: 100%;
            height: auto;
          }

        }
      }
    }

    .artwork-purchase-and-review {
      width: 80vw;

      .artwork-purchase-info {
        width: 80vw;
        flex-direction: column-reverse;

        .description-and-cart {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          //align-items: center;
          justify-content: space-between;


          .parent-popup-price-info {
            width: 80vw;
          }


        }

      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .artwork-details-info-popup {


    .slideshow {
      width: 90vw;

    }

    .artwork-purchase-info {
      width: 90vw;

    }
  }
}

//
//.artwork-details-info-popup {
//  width: 100%;
//  margin: auto;
//  display: flex;
//  align-items: center;
//  justify-content: space-evenly;
//  padding: 0 2rem 2rem;
//  height: max-content;
//
//
//  position: sticky;
//  top: 0;
//
//
//  //transition: width 2s linear 1s;
//
//  gap: 2%;
//
//  .slideshow {
//    position: sticky;
//    top: 5rem;
//    bottom: 5rem;
//    display: flex;
//    width: max-content;
//    align-items: center;
//
//    #next {
//      max-font-size: 5rem;
//      font-size: 5vw;
//      min-font-size: 1.5rem;
//
//      color: rgba(112, 128, 144, 0.3);
//      transition: color ease-in 500ms;
//
//      &:hover {
//        color: $main-color;
//        cursor: pointer;
//        box-shadow: $element-box-shadow;
//
//      }
//
//    }
//
//    #previous {
//      @extend #next;
//    }
//
//    .parent-artwork-img {
//      width: fit-content;
//      background-color: #eeeeee;
//      padding: 0.5rem;
//      flex-wrap: nowrap;
//      gap: 0.5rem;
//      justify-content: center;
//      align-items: normal;
//      display: flex;
//
//      overflow: hidden;
//
//      .popup-image-wrapper {
//        height: auto;
//        border: $border-less-opacity;
//        border-radius: 0.125rem;
//        position: relative;
//        width: max-content;
//
//        .artwork-image {
//          display: block;
//          height: 70vh;
//          max-height: 80vh;
//
//        }
//
//        .popup-like {
//          position: absolute;
//          top: 0.625rem;
//          right: 0.625rem;
//
//          .popup-liked-heart {
//            display: none;
//
//            width: max-content;
//            height: max-content;
//
//            align-items: center;
//            justify-content: center;
//            text-align: center;
//
//            .liked-art {
//              max-font-size: 1.5rem;
//
//              min-height: 1rem;
//              border-radius: 50%;
//              padding: 0.438rem;
//              color: blue;
//              background-color: white;
//
//              border: $main-color 1px solid;
//
//
//              &:hover {
//                background-color: blue;
//                color: white;
//
//              }
//            }
//          }
//
//          .popup-not-liked-heart {
//            @extend .popup-liked-heart;
//          }
//
//        }
//      }
//
//
//      .detail-view-parent {
//        padding: .5rem;
//        gap: 0.5rem;
//        height: inherit;
//        display: none;
//        flex-direction: column;
//        justify-content: space-between;
//        width: 100%;
//        overflow: auto;
//
//        .artwork-in-detail-view {
//          width: 5rem;
//          overflow: hidden;
//          border: 2px $main-color solid;
//          min-width: 5rem;
//          border-radius: 3px;
//          height: 5rem;
//          min-height: 5rem;
//          background-color: white;
//
//          .artwork-image-details {
//            width: 100%;
//          }
//
//        }
//      }
//    }
//  }
//  .artwork-purchase-info {
//    margin-top: 2rem;
//    max-height: none;
//    width: 50vw;
//    padding: 1rem;
//    display: flex;
//    position: relative;
//    flex-direction: column;
//    align-content: space-between;
//    align-items: center;
//    justify-content: flex-start;
//    gap: 1.875rem;
//
//
//    .artwork-description {
//      color: black;
//    }
//
//    .description-and-cart {
//      width: inherit;
//      color: black;
//      flex-direction: column;
//
//      .parent-popup-price-info {
//        width: 100%;
//
//        justify-self: flex-start;
//        align-self: flex-start;
//
//        .display-common {
//          padding: 1rem 0;
//          color: black;
//        }
//
//        .price-wrapper {
//          display: flex;
//          align-items: center;
//          gap: 3px;
//        }
//      }
//
//      .parent-popup-cart-purchase {
//        width: 50%;
//        position: relative;
//        display: flex;
//        flex-direction: column;
//        align-items: flex-end;
//        align-content: flex-end;
//        justify-content: flex-end;
//
//
//        .popup-purchase {
//          justify-self: flex-start;
//          width: 100%;
//          margin-bottom: 2rem;
//          background-color: $main-color;
//          color: white;
//
//          text-align: center;
//
//          padding: 1rem 0;
//          //border-radius: 1.25rem;
//
//          border: 1px solid $main-color;
//        }
//
//        .parent-popup-cart {
//          position: relative;
//          height: max-content;
//          display: flex;
//          width: 100%;
//          justify-content: flex-end;
//
//          .popup-sold-item {
//            display: none;
//            justify-self: flex-start;
//            width: inherit;
//            text-align: center;
//
//            padding: 1rem 0;
//            //border-radius: 1.25rem;
//            margin: 2% 0;
//            border: 1px solid $main-color;
//          }
//
//          .popup-cart {
//            visibility: hidden;
//            //position: absolute;
//            justify-self: flex-start;
//            width: 100vw;
//
//            text-align: center;
//
//            padding: 1rem 0;
//            //border-radius: 1.25rem;
//            margin: 2% 0;
//            border: 1px solid $main-color;
//
//            :hover {
//              cursor: pointer;
//
//            }
//
//
//          }
//        }
//
//      }
//    }
//  }
//}
//
//.not-found {
//  text-align: center;
//}
//
//
//
//
//
//
//
//@media only screen and (max-width: 1015px) {
//  .artwork-details-info-popup {
//    position: static;
//    z-index: 6;
//    width: 100vw;
//    height: 100vh;
//    flex-direction: column;
//    justify-content: flex-start;
//    overflow: auto;
//
//    .slideshow {
//      margin: auto;
//      position: static;
//
//      #next, #previous {
//        min-font-size: 1rem;
//      }
//
//      .parent-artwork-img {
//        width: max-content;
//        height: auto;
//        position: static;
//        background-color: lime;
//
//        justify-content: center;
//        flex-direction: column-reverse;
//
//        .detail-view-parent {
//          flex-direction: row;
//        }
//
//        .popup-image-wrapper {
//          margin: auto;
//
//          .artwork-image {
//            //width: 50vw;
//            max-height: none;
//            height: auto;
//
//            width: 80vw;
//
//          }
//
//        }
//
//      }
//    }
//
//    .artwork-purchase-info {
//      padding: 0 3%;
//      max-height: none;
//
//      .popup-artwork-description {
//        font-family: proxima-nova, sans-serif;
//        line-height: 1.6rem;
//
//        padding: 2rem 0;
//        color: #575757;
//
//
//      }
//
//      .description-and-cart {
//        width: 100%;
//        display: flex;
//        justify-content: space-between;
//      }
//
//      .parent-popup-cart-purchase {
//        width: max-content;
//
//
//       // position: fixed;
//        z-index: 6;
//
//        //height: 100vh;
//
//        flex-direction: column;
//        justify-content: flex-start;
//
//        overflow: auto;
//
//
//        .popup-purchase {
//          width: 50vw;
//        }
//
//      }
//
//      .parent-popup-cart {
//        .popup-cart {
//          width: 50vw;
//        }
//      }
//    }
//
//  }
//
//}
//
//
//
//@media only screen and (max-width: 800px) {
//  .artwork-details-info-popup {
//    padding-bottom: 3%;
//  }
//}
//
//@media only screen and (max-width: 500px) {
//
//
//  .popup-image-wrapper, .artwork-image, .popup-sold-item, .popup-purchase, .popup-cart, .parent-popup-cart-purchase, .slideshow, .artwork-purchase-info {
//    width: 100%;
//  }
//  .display-common {
//    font-size: $font-size-0875;
//
//  }
//}
