<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Reviews</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <script th:src="@{/js_file/footer.js}" type="module" defer></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/stylesheet/style2.css" type="text/css">

</head>
<body>


<footer-component></footer-component>

</body>
</html>