
@import "style_sheet2/mixins";

@import "style_sheet2/header";
@import "style_sheet2/authenticated/authenticated_nav";
@import "style_sheet2/social_media_link";

@import "style_sheet2/index_page_style";
@import "style_sheet2/popup_display";
@import "style_sheet2/artwork_page_style";
@import "style_sheet2/popup_offer";
@import "style_sheet2/message_contact_form";

@import "style_sheet2/favorite_page_style";
@import "style_sheet2/reset_password";

//*************cart page design***********************
@import "style_sheet2/cart_page";

@import "style_sheet2/media_query";
@import "style_sheet2/about";
@import "style_sheet2/social_media_icon";
@import "style_sheet2/footer";
@import "style_sheet2/artwork_link_display";

@import "style_sheet2/authenticated/my_collection";

@import "style_sheet2/terms_and_service";
@import "style_sheet2/loader";
body{
  background-color: $border-color-less-opacity;
}


//.loader::after {
//  content: "";
//  width: 6vw;
//  height: 6vw;
//  border: 0.6rem solid #dddddd;
//  border-top-color: green;
//  border-radius: 50%;
//  animation: loading2 0.75s ease infinite;
//}@keyframes loading2 {
//   from {
//     transform: rotate(0turn);
//   }
//   to {
//     transform: rotate(1turn);
//   }
// }

