<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .form-floating, .form-control {
            width: 100%;
        }
    </style>
</head>

<body>
<section th:fragment="contact-form" class="message-contact">

    <div class="loading loading-checkout">
        <div class="container mt-3">

            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
        </div>
        <p class="while-waiting">One second...</p>
    </div>

    <span id="message-cancel-button">&#x2715;</span>
    <div class="my-profile">
        <div></div>
        <p>Hello, Please fill out the form and submit any question you may have, I will respond to you via
            email, as soon as I get your message. Thanks.

        </p></div>
    <form id="email-form">
        <div class="first-last-parent">
            <div style="width: 100%" class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="firstname-contact" placeholder="Enter First Name"
                       name="firstname" required>
                <label for="firstname-contact">First Name</label>
            </div>
            <div style="width: 100%" class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="lastname-contact" placeholder="Enter Last Name"
                       name="lastname" required>
                <label for="lastname-contact">Last Name</label>
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="email-contact" placeholder="Enter Email" name="email" required>
            <label for="email-contact">Email</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="phone-contact" placeholder="Enter Phone Number"
                   name="phone-number" required>
            <label for="phone-contact">Phone Number</label>
        </div>
        <label for="myfile">Attach files(Optional):</label>
        <input type="file" id="myfile" name="myfile"><br><br>

        <div class="mb-3 mt-3">
            <label for="message-textarea">Comments:</label>
            <textarea placeholder="Start typing..." class="form-control" rows="10" id="message-textarea"
                      name="text" required></textarea>
        </div>
        <!--        <label for="message-textarea">-->
        <!--            <div class="form-floating mb-3 mt-3">-->
        <!--                <textarea class="form-control" id="message-textarea" cols="43" rows="36" name="text"-->
        <!--                          placeholder="Comment goes here"></textarea>-->
        <!--                <label for="message-textarea">Comments</label>-->
        <!--            </div>-->

        <!--        </label>-->


        <div class="submit-message-parent">
            <input type="submit" id="submit-message" value="Send Message" class="btn btn-secondary btn-lg"></div>

    </form>

</section>
</body>
</html>