<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="social-media-share" class="social-media-link-parent">
        <div id="share-cancel">&#x2715;</div>
    <h3 class="share-message">Thank you for sharing my work!</h3>
        <div class="social-media-link">
            <a class="linkedin" href="#" target="_blank"> <i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="twitter"  href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="facebook"  href="#" target="_blank"><i
                    class="fa-brands fa-facebook"></i></a>
            <a class="envelope"  href="#" target="_blank"><i class="fa-regular fa-envelope"></i></a>
            <a class="pinterest" href="#" target="_blank"><i
                    class="fa-brands fa-pinterest"></i></a>
        </div>
    </div>
</div>
</body>
</html>